.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  margin-top: 10px;
  padding: 8px;
}

.btn-primary {
  color: black;
  border-color: black;
  background-color: transparent;
}

.btn:hover {
  color: rgb(53, 110, 209);
  border-color: rgba(53, 110, 209, 1.0);
}


input {
  width: 80%;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}

input:focus {
  outline: none;
  border: none;
  border-top: 2px solid rgba(73, 204, 249, 1.0);
  border-bottom: 2px solid rgba(73, 204, 249, 1.0);
}
